/* Reset */
body, p {
    margin: unset;
}

h1, h2 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

ul {
    margin: unset;
    padding: unset;
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

/* Typography */
:root {
    font-family: 'montserrat';
}

/* Component top */
.wrapper_top {
    background-color: #6230A2;
}

.wrapper {
    box-shadow: inset 0 0 10px red;
    min-height: 50vh;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 40px;
    box-sizing: border-box;
    grid-template-columns: minmax(0 , 1080px);
}

.contents_top {
    box-shadow: inset 0 0 10px blue;
}

.contents_header {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.contents_header h1 {
    font-size: 40px;
    line-height: 1.1em;
    color: white;
}

.contents_header h1 strong {
    position: relative;
    z-index: 0;
}

.contents_header h1 strong::after {
    content: '';
    background-color: #FF4500;
    display: block;
    width: 100%;
    height: 26px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.contents_header div::before {
    content: '';
    display: block;
    width: 90px;
    height: 1px;
    background-color: #C89DFF;
    margin-left: 22px;
    margin-right: 32px;
}

.contents_header div {
    display: flex;
    align-items: center;
}

.contents_header p {
    max-width: 460px;
    color: #C89DFF;
    font-size: 14px;
    line-height: 1.6em;
    
}

.card_wrapper {
    box-shadow: inset 0 0 10px green;

    display: grid;
    row-gap: 30px;
    grid-template-rows: repeat( auto-fit, minmax( 0 , 1fr ));
}

.card {
    background-color: white;
    display: flex;
    align-items: center;
}

.card:nth-child(2) {
    flex-direction: row-reverse;
    justify-content: space-between;
}

.card-img {
    position: relative;
    width: 280px;
    height: 100%;
}

.img-back {
    background-color: rgba(98, 48, 162, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.card-img h2 {
    color: white;
    font-size: 32px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text h2 {
    color: #6230A2;
    font-size: 18px;
    font-weight: bold;
    margin: 16px 0 0 21px;
}

.card-text ul {
    margin: 14px 0 18px 22px;
}

.card-text ul li {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #111111;
    list-style: disc;
}

.card-text ul li + li {
    margin-top: 12px;
}

.card-text ul li::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #C89DFF;
    margin-right: 14px;
}

/* Component bottom */
.wrapper_bottom {
    background-color: #FFF5ED;
}

.contents_bottom .contents_header {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}


.contents_bottom .contents_header h1 {
    font-size: 40px;
    color: #F98173;
    flex-basis: 0;
    flex-grow: 1;
}


.contents_bottom.contents_header h1 strong {
    position: relative;
    z-index: 0;
}


.contents_bottom .contents_header h1 strong::after {
    content: '';
    background-color: white;
    display: block;
    width: 296px;
    height: 26px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.add_btn {
    font-family: 'montserrat';
    font-weight: bold;
    color: white;
    background-color: #ff4500;
    width: 208px;
    height: 48px;
    line-height: 48px;
    padding: 0 14px;
    border-radius: 4px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}


.contents_list {
    background-color: white;
    /* height: 593px; */
}

.list_img {
    width: 100%;
}

.list_img img {
    width: 100%;
    border-bottom: 4px solid #111111;
}

.list_main {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 270px;
    box-sizing: border-box;
}

.list_tag {
    display: flex;
    gap: 4px;
    margin-top: 20px;
}

.list_tag li {
    font-size: 14px;
    font-weight: 600;
    height: 22px;
    line-height: 22px;
    padding: 0 12px;
    border-radius: 12px;
    color: #6230A2;
    background-color: #EBDBFF;
}

.list_title {
    color: #111111;
    font-size: 24px;
    font-weight: bold;
}

.list_text {
    color: #333333;
    font-size: 14px;
    line-height: 1.6;
    flex-basis: 0;
    flex-grow: 1;
}

.list_footer::before {
    content: '';
    display: block;
    width: 320px;
    height: 4px;
    background-color: #eeeeee;
    margin: 20px 0 0 20px
}

.list_footer {
    color: #999999;
    font-size: 14px;
}

.footer_contents {
    padding: 16px 20px;
    display: flex;
    align-items: center;
}

.footer_text {
    flex-basis: 0;
    flex-grow: 1;
    height: 38px;
    line-height: 38px;
}

.footer_icon img {
    border: 2px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: -14px;
}


/* Tablet */
@media ( max-width: 1024px ) {

    .contents_header {
        margin-bottom: 50px;
    }

    .card_wrapper {
        gap: 30px;
        grid-template-columns: repeat( 2, minmax( 0, 1fr ));
        grid-template-rows: repeat( auto-fit, minmax( 0, 1fr ));
    }

    .card {
        flex-direction: column;
    }

    .card:nth-child(2) {
        display: flex;
        flex-direction: column;
    }

    .card-img img {
        width: 100%;
    }

    .card-text ul {
        margin: 14px 21px 21px 22px;
    }
}