/* Reset */
body, p {
    margin: unset;
}

h1, h2 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

ul {
    margin: unset;
    padding: unset;
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: top;
}

/* Typography */
:root {
    font-family: 'montserrat';
}

/* Component */
.wrapper_top {
    background-color: #6230A2;
}

.wrapper_bottom {
    background-color: #FFF5ED;
}

.wrapper {
    box-shadow: inset 0 0 10px red;
    min-height: 50vh;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 40px;
    box-sizing: border-box;
    grid-template-columns: minmax(0 , 1080px);
}

.contents {
    box-shadow: inset 0 0 10px blue;
}

.contents_header {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.contents_header h1 {
    font-size: 40px;
    line-height: 1.1em;
    max-width: 258px;
    color: white;
}

.contents_header h1 strong {
    position: relative;
    z-index: 0;
}

.contents_header h1 strong::after {
    content: '';
    background-color: #FF4500;
    display: block;
    width: 100%;
    height: 26px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.contents_header div::before {
    content: '';
    display: block;
    width: 90px;
    height: 1px;
    background-color: #C89DFF;
    margin-left: 22px;
    margin-right: 32px;
}

.contents_header div {
    display: flex;
    align-items: center;
}

.contents_header p {
    max-width: 460px;
    color: #C89DFF;
    font-size: 14px;
    line-height: 1.6em;
    /* margin-right: 218px; */
}

.card_wrapper {
    box-shadow: inset 0 0 10px green;

    display: grid;
    row-gap: 30px;
    grid-template-rows: repeat( 3, 148px);
}

.card {
    background-color: white;
    display: flex;
}

.card-img {
    position: relative;
}

.card-img img {
    width: 280px;
    height: 100%;
    object-fit: cover;
}

.card-img div {
    color: white;
    font-size: 32px;
    font-weight: 500;
    position: absolute;
    inset: 0;
}

.card-text h2 {
    color: #6230A2;
    font-size: 18px;
    font-weight: bold;
    margin: 16px 0 0 21px;
}

.card-text ul {
    margin: 14px 0 21px 22px;
}

.card-text ul li {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #111111;
}

.card-text ul li + li {
    margin-top: 12px;
}

.card-text ul li::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #C89DFF;
    margin-right: 14px;
}